<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430256448929-3jdgkqmf74gsbma74m8pt5mhiio5lcr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430256448929-3jdgkqmf74gsbma74m8pt5mhiio5lcr8</string>
	<key>API_KEY</key>
	<string>AIzaSyDwwF4JuC8WGnPaF25VPgTPA2t_EkIbMOU</string>
	<key>GCM_SENDER_ID</key>
	<string>430256448929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blurt</string>
	<key>PROJECT_ID</key>
	<string>blurt-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>blurt-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430256448929:ios:f6a2ec01c3fba41b6e17e0</string>
</dict>
</plist>